@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

.plantBook {
	font-family: 'MICEGothic Bold', 'Indie Flower', cursive !important;
    background-image: #D2DAFF; /*CAPE HONEY*/
	margin: 0px;
	padding: 0px;
    height: 100vh;
	width: 100%;

	position: relative;
    z-index: 1;
    height: 100vh;
}

.plantBook::before{
    content: "";
    position: absolute;
    top: 0;
	left: 0;
    width: 100%; 
    height: 100%;  
    z-index: -1;
    background: url('../img/wood_back.jpg');
    background-size: cover;
    background-position: top;
}

::selection {
	background: transparent;
}

h4 {
	font-size: 26px;
	line-height: 1px;
	font-family: 'MICEGothic Bold','Amatic SC', cursive !important;
	text-align: center;
}

.color1{color:#1BBC9B}/*MOUNTAIN MEADOW*/
.color2{color:#C0392B/*TALL POPPY*/}


.book {
	color: #013243; /*SHERPA BLUE*/
	position: absolute;
	top: 35%;
	left: 50%;
	max-width: 300px;
	max-height: 450px;
	width: 85vw;
	height: 50vh;
	background: #e0e1dc;
	transform-style: preserve-3d;
	transform: translate(-50%,-50%) perspective(2000px);
	box-shadow: inset 300px 0 50px rgba(0,0,0,.5), 20px 0 60px rgba(0,0,0,.5);
	transition: 1s;
}

.book:hover {
	transform: translate(-50%,-50%) perspective(2000px) ;
	box-shadow: inset 20px 0 50px rgba(0,0,0,.5), 0 10px 100px rgba(0,0,0,.5);
}

.photos:hover {
    transform: scale(1.1)
}

.book:before {
	content:'';
	position: absolute;
	top: -5px;
	left: 0;
	width: 100%;
	height: 5px;
	background: #BAC1BA;
	transform-origin: bottom;
	transform: skewX(-45deg);
}

.book:after {
	content: '';
	position: absolute;
	top: 0;
	right: -5px;
	width: 5px;
	height: 100%;
	background: #92A29C;
	transform-origin: left;
	transform: skewY(-45deg);
}

.book .imgBox {
	max-width: 300px;
	max-height: 450px;
	width: 85vw;
	height: 50vh;
	position: relative;
	transform-origin: left;
	transition: .7s;
}

.book .bark {
	position: absolute;
	background: #e0e1dc;
	max-width: 300px;
	max-height: 450px;
	width: 85vw;
	height: 50vh;
	opacity: 0;
	transition: .7s;
}

.book .imgBox img {
	max-width: 300px;
	max-height: 450px;
	width: 80vw;
	height: 50vh;
}

.book:hover .imgBox {
	transform: rotateY(-135deg);
}

.book:hover .bark {
	opacity: 1;
	transition: .6s;
  	box-shadow: 300px 200px 100px rgba(0, 0, 0, .4) inset;
}

.book .details {
	position: absolute;
	max-width: 300px;
	max-height: 400px;
	width: 80vw;
	height: 45vh;
	top: 0;
	left: 0;
	box-sizing: border-box;
	padding: 0 0 0 10px;
	z-index: -1;
	margin-top: 30px;
}

.book .details p {
	font-size: 15px;
	line-height: 20px;
	/* transform: rotate(-10deg); */
	padding: 0 10px 0 5px;
}

.book .details h4 {
	text-align: center;
	line-height: 100%;
}

.text-right {
	text-align: right;
}